:root {
    --hauptfarbe: #333;
    --hintergrund: #f4f4f4;
    --textfarbe: #333;
    --weiss: #fff;
    --rand-radius: 5px;
    --standard-padding: 10px;
    --box-schatten: 0 2px 5px rgba(0, 0, 0, 0.1);
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: var(--hintergrund);
    color: var(--textfarbe);
}

header {
    background: var(--hauptfarbe);
    color: var(--weiss);
    padding: 10px 0;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: var(--weiss);
    text-decoration: none;
}

main {
    padding: 20px;
}

.sehenswuerdigkeiten-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 2rem;
}

@media (min-width: 600px) {
    .sehenswuerdigkeiten-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1000px) {
    .sehenswuerdigkeiten-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.sehenswuerdigkeiten-grid section {
    background-color: #e0dfdf;
    border-radius: 15px;
    padding: 2rem;
    margin: 1rem;
    box-shadow: 0 4px 16px rgba(52, 46, 54, 0.788);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sehenswuerdigkeiten-grid h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.sehenswuerdigkeiten-grid img {
    width: 100%;
    height: 500px;
    object-fit: contain;
    border-radius: 5px;
    margin-top: 10px;
    transition: transform 0.3s ease;
}

.sehenswuerdigkeiten-grid img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: var(--hauptfarbe);
    color: var(--weiss);
}

@media (max-width: 600px) {
    body {
        font-size: 16px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    .sehenswuerdigkeiten-grid {
        grid-template-columns: 1fr;
    }
}